.blogs-sec-container h1 {
    font-family: "alata", sans-serif;
}

.blogs-sec-cards-container {
    max-width: 1100px;
    width: 75%;
    min-height: 350px;
}

.blogs-section-card {
    width: 330px;
    min-height: 280px;
    padding: 15px;
    padding-top: 20px;
    transition: 0.3s;
}

.blogs-section-card:hover {
    background-color: #0E1F30;
    padding-top: 15px;
    padding-bottom: 20px;
}

.blogs-sec-card-rectimage {
    box-shadow: 6px 15px 20px #000000aa;
}

.blogs-sec-card-content label {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.blogs-sec-card-content span {
    text-align: center;
    font-size: 12px;
    color: #dddddd;
}