.projects-sec {
    position: relative;
}

.projects-sec h1 {
    font-family: "alata", sans-serif;
}

.projects-sec-container {
    position: relative;
    max-width: 1100px;
    width: 85%;
    height: 550px;
}