.achievements-widget-container {
    font-family: "alata", sans-serif;
}

.cards-group {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    width: 1400px;
}

.cards-container {
    transform: translate(0);
    transition: 0.3s;
}