.about-section h1 {
    font-family: "alata", sans-serif;
}

.about-para {
    width: 700px;
    transition: 0.2s;
    font-size: 18px;
}

@media(max-width:1200px) {
    .about-para {
        width: 500px;
    }
}

@media(max-width:1050px) {
    .about-para {
        width: 300px;
        font-size: 16px;
    }

    .about-section h1 {
        font-size: 38px;
    }
}